![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [1]:
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

## Finding schools with the best math scores

In [2]:
good_math_score = 800*80/100 #Threshold
# Subset the dataset two get only the two columns of "school_name" and "average_math" where the average math score is greater than the threshold. Then sort the dataset according to average_math
best_math_schools = schools[schools["average_math"]>good_math_score][["school_name", "average_math"]].sort_values("average_math", ascending=False)
best_math_schools.head()

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

## Identifying the top 10 performing schools

In [3]:
# Add a column that is the combination of the 3 components of the SAT score
schools["total_SAT"] = schools["average_math"]+schools["average_reading"]+schools["average_writing"]
# sort the schools dataset according to total_SAT and subset it to get the "school_name" and "total_SAT" of the first 10 rows
top_10_schools = schools.sort_values("total_SAT", ascending = False)[["school_name", "total_SAT"]].iloc[:10]

top_10_schools

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

## Locating the NYC borough with the largest standard deviation in SAT performance

In [4]:
# Group the schools according to "borough", focus on "total_SAT" and do the operation to get "mean","count",and "std" - each value rounded up to get the last 2 digits
schools_by_borough = schools.groupby("borough")["total_SAT"].agg(["mean","count","std"]).round(2)
print(schools_by_borough)

                  mean  count     std
borough
Bronx          1202.72     98  150.39
Brooklyn       1230.26    109  154.87
Manhattan      1340.13     89  230.29
Queens         1345.48     69  195.25
Staten Island  1439.00     10  222.30

In [5]:
# subset the schools_by_borough to get only the borough with the highest "std"
largest_std_dev = schools_by_borough[schools_by_borough["std"]== schools_by_borough["std"].max()]
print(largest_std_dev)

              mean  count     std
borough
Manhattan  1340.13     89  230.29

In [6]:
#rename the columns so that it is easier to understand
largest_std_dev = largest_std_dev.rename(columns={"count": "num_schools", "mean": "average_SAT", "std": "std_SAT"})
largest_std_dev

           average_SAT  num_schools  std_SAT
borough
Manhattan      1340.13           89   230.29